*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
font-family: 'Noto Serif JP', serif;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2376ac75' fill-opacity='0.14' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

a{
    color: #fff;
    text-decoration: none;
    
}

.primero{
font-size: 17px;
display: flex;
background-color: #fff;
}

.menu{
    
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: rgba(14, 231, 43, 0.267);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(195, 207, 226, 0.342);
    transition: transform .5s ease-in-out;
}

.menu.show{
    transform: translateX(-268px);
    background-color: rgba(231, 14, 14, 0.281);
}

.topics{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.39) 0%, rgba(251, 194, 235, 0.39) 100%);
    height: 100%;
    padding: 120px;
    opacity: .9;
    transform: translate(400px);
    transition: transform .5s ease-in-out ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.topics.show{
    transform: translateX(30px);
}

.header-icon{
    width: 50px;
    margin-left:.5%;
    margin-block-start: .14%;
    margin-block-end: .14%;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}
.header{
    height: 75vh;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.459) 0%, rgba(195, 207, 226, 0.342) 100%),url(./img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    border-bottom: 2px solid rgb(12, 12, 12);
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-bottom: 50px;
}

